@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}
/* ------------------- */
/*        Header        /
/* ------------------- */

header {
    color:CCD6F6;
    background-color:#24364B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1.5rem;
    box-shadow: -1px 4px 11px 1px rgba(0,0,0,0.65);
}

header, a:link, a:visited {
    color: #CCD6F6;
}

.logo {
    font-weight: 400;
    margin: auto;
    margin-left: 0;
    font-size: 2rem;
}

.navigation {
    margin: 0 auto;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}


.navigation > li {
    display: inline;
    margin: auto;
    height: 100%;

}

.navigation > li > a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 1.1em;
    height: 100%;
}

.navigation > li > a:hover,
.navigation > li > a:focus {
    color: rgb(192, 192, 192);
    transition: 0.3s;
}

/* ----------------------*/
/*        Projects       */
/* ----------------------*/

.projects-section {
    border: 1px solid black;
    width: 100%;
    padding: 1rem;
}

.projects-right {
    
}